{% load static %}
<!DOCTYPE html>
<html>
	<head>  
		<title class="post-title">{{ post.title }}</title>
		<link rel="stylesheet" href="{% static 'css/article.css'%}">
	</head>
	<body class="article">
<div class="header">
       <p class="center_pos"><img id="logo" src="{% static 'img/dpb-logo.png'%}" height="50"/></p>
	<a href="/" class="allposts_link center_pos">Все статьи</a>
</div>
<div class="one-post">
	 <h2 class="post-title">{{ post.title }}</h2>
  	<div class="article-info">
  	<div class="article-author">{{ post.author.username }}</div>
  	 <div class="article-created-date">{{ post.created_date }}</div>
 	 </div>
 	<p class="article-text">{{ post.text }}</p>
</div>
	</body>
</html>